name: OAST Blackout Watcher

on:
  schedule:
    - cron: '*/30 * * * *' # Runs every 30 minutes
  workflow_dispatch:      # Allows manual trigger

jobs:
  check_hits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.20'

      - name: Install Interactsh Client
        run: go install -v github.com/projectdiscovery/interactsh/cmd/interactsh-client@latest

      - name: Poll Interactions
        run: |
          # 'timeout 60s' tells Linux to kill the process after 1 minute.
          # Upon startup, interactsh-client will fetch all missed logs from the server.
          # The '|| true' ensures the workflow doesn't fail when the timeout kills the process.
          timeout 60s interactsh-client -session-file session.yaml -v || true
