name: OAST Blackout Watcher

on:
  schedule:
    - cron: '*/30 * * * *' # Runs every 30 minutes
  workflow_dispatch:      # Allows you to trigger it manually

jobs:
  check_hits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.20'
          cache: false

      - name: Install Interactsh Client
        run: go install -v github.com/projectdiscovery/interactsh/cmd/interactsh-client@latest

      - name: Poll Interactions
        run: |
          # We look for the file in the root folder where we just moved it
          timeout 60s interactsh-client -session-file ./session.yaml -v || true
